# Dathaton FIAP - PASSOS MÁGICOS

## Importing Libraries

In [2]:
from dotenv import load_dotenv

import os
from pathlib import Path

import pandas as pd

from pycaret.classification import setup, compare_models, predict_model, tune_model, finalize_model, plot_model, evaluate_model, save_model, load_model

import psycopg2 as ps

## Loading Data

In [3]:
load_dotenv()

DB_KEY = os.getenv("DB_KEY")
DB_NAME = os.getenv("DB_NAME")

In [4]:
conn = ps.connect(
    dbname='PEDE_PASSOS',
    user=DB_NAME,
    host='localhost',
    port='5432',
    password=DB_KEY)

In [5]:
data = pd.read_sql("SELECT * FROM pede_passos.students_avaliation", con=conn, )

In [6]:
# path = Path('../data/raw/PEDE_PASSOS_DATASET_FIAP.csv')

# data = pd.read_csv(path, sep=';')

## Data Wrangling

In [7]:
melt_data = data.melt(id_vars=['NOME'], var_name='feature', value_name='value')
melt_data.rename(columns={'NOME': 'name'}, inplace=True)
melt_data['feature'] = melt_data['feature'].astype(str)
melt_data[['feature', 'year']] = melt_data['feature'].str.rsplit('_', n=1, expand=True)

In [8]:
fase = melt_data

In [9]:
fase['feature'] = fase['feature'].str.replace('FASE_TURMA', 'FASE')
fase = fase[fase['feature']=='FASE']
fase.loc[fase['year'] == '2020', 'value'] = fase.loc[fase['year'] == '2020', 'value'].str[:-1]

In [10]:
fase.dropna(inplace=True, axis=0, how='any')
fase['value'] = pd.to_numeric(fase['value'], errors='coerce')
fase.dropna(subset=['value'], inplace=True)

scholars = fase[fase['value'] <= 7]
academics = fase[fase['value'] > 7]

In [11]:
fase[(fase['year'] != '2020') & fase['value'] < 7]

             name feature  value  year
4047      ALUNO-1    FASE    2.0  2020
4049      ALUNO-3    FASE    3.0  2020
4050      ALUNO-4    FASE    1.0  2020
4051      ALUNO-5    FASE    2.0  2020
4054      ALUNO-8    FASE    4.0  2020
...           ...     ...    ...   ...
52603  ALUNO-1342    FASE    2.0  2022
52604  ALUNO-1343    FASE    2.0  2022
52607  ALUNO-1346    FASE    0.0  2022
52609  ALUNO-1348    FASE    4.0  2022
52610  ALUNO-1349    FASE    3.0  2022

[2275 rows x 4 columns]

In [12]:
scholars

             name feature  value  year
4047      ALUNO-1    FASE    2.0  2020
4049      ALUNO-3    FASE    3.0  2020
4050      ALUNO-4    FASE    1.0  2020
4051      ALUNO-5    FASE    2.0  2020
4054      ALUNO-8    FASE    4.0  2020
...           ...     ...    ...   ...
52603  ALUNO-1342    FASE    2.0  2022
52604  ALUNO-1343    FASE    2.0  2022
52607  ALUNO-1346    FASE    0.0  2022
52609  ALUNO-1348    FASE    4.0  2022
52610  ALUNO-1349    FASE    3.0  2022

[2251 rows x 4 columns]

In [13]:
melt_data['id'] = melt_data['name'] + '_' + melt_data['year']
melt_data.set_index('id', inplace=True)

melt_data.drop(columns=['name', 'year'], inplace=True)

In [14]:
values_to_keep = ['IAA', 'IEG', 'IPS', 'IDA', 'IPP','IPV', 'IAN', 'PEDRA']

melt_data = melt_data[melt_data['feature'].isin(values_to_keep)]

melt_data = melt_data.pivot(columns='feature', values='value')
melt_data.columns.name = None

In [15]:
scholars_to_keep = scholars['name'] + '_' + scholars['year']
scholars_data = melt_data.loc[melt_data.index.isin(scholars_to_keep)]

academics_to_keep = academics['name'] + '_' + academics['year']
academics_data = melt_data.loc[melt_data.index.isin(academics_to_keep)]

In [16]:
scholars_data

,IAA,IAN,IDA,IEG,IPP,IPS,IPV,PEDRA
id,,,,,,,,
ALUNO-1000_2022,9.50002,10.0,2.0,8.093434343434343,6.458333333333334,7.5,6.611106666666666,Ágata
ALUNO-1001_2021,9.5,10.0,6.9,10.0,8.4,7.5,10.0,Topázio
ALUNO-1001_2022,9.000020000000001,5.0,8.083333333333334,8.452380952380953,5.625,5.625,7.75,Ametista
ALUNO-1002_2020,9.16668,5,8.333333333333334,9.4,8.125,7.5,7.944446666666668,Ametista
ALUNO-1002_2021,8.8,5.0,7.5,8.3,7.7,7.5,8.1,Ametista
...,...,...,...,...,...,...,...,...
ALUNO-998_2022,9.50002,10.0,6.166666666666666,9.668209876543209,5.625,5.625,7.499995,Ametista
ALUNO-999_2020,8.33334,10,7.333333333333333,5.8,6.875,3.125,7.72222,Ágata
ALUNO-999_2021,7.9,10.0,6.4,6.1,6.9,4.4,7.2,Ágata
ALUNO-99_2022,8.75001,5.0,7.25,10.0,7.5,7.5,7.2916625,Ametista
ALUNO-9_2022,9.000020000000001,10.0,2.133333333333333,6.820377689942907,3.75,5.0,5.50001,Quartzo

In [17]:
scholars_data.dropna(axis=0, subset='PEDRA', inplace=True)

pedras = ['Ágata', 'Topázio', 'Ametista', 'Quartzo']

scholars_data = scholars_data[melt_data['PEDRA'].isin(pedras)]

In [18]:
for col in scholars_data.columns:
	if col != 'PEDRA':
		scholars_data[col] = pd.to_numeric(scholars_data[col], errors='coerce')
scholars_data = scholars_data.dropna()

In [19]:
target = {'Quartzo': 0, 'Ágata': 1, 'Ametista': 2, 'Topázio': 3}

scholars_data['PEDRA'] = scholars_data['PEDRA'].map(target)

## Data Modeling

In [20]:
# Configurar o ambiente de PyCaret
clf = setup(data=scholars_data, target='PEDRA', session_id=123, experiment_name='pedra_prediction')

# Comparar todos os modelos disponíveis e selecionar o melhor
best_model = compare_models()

# Afinar o melhor modelo
tuned_model = tune_model(best_model)

# Finalizar o modelo
final_model = finalize_model(tuned_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

## Evaluation

In [21]:
# Avaliar o modelo final
evaluate_model(final_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [22]:
# Salvar o modelo
save_model(final_model, '../models/lr_pedra_classification')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['IAA', 'IAN', 'IDA', 'IEG', 'IPP',
                                              'IPS', 'IPV'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None, include=[...
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='most_frequent'))),
                 ('actual_estimator',
                  LogisticRegression(C=1.0, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 '../models/lr_pedra_classification.pkl')